fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
celery[redis]
httpx
pydantic[email]
pydantic-settings
greenlet
boto3
openai
pymupdf
