<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GIDC</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.166115611136-d42e728kfojf7resv9um0fcpgeffo8lp</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>166115611136-d42e728kfojf7resv9um0fcpgeffo8lp.apps.googleusercontent.com</string>
	<key>GwaTopAPIBaseURL</key>
	<string>https://api.gwatop.co.kr</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>PretendardVariable.ttf</string>
	</array>
</dict>
</plist>
